<div class="layout layout--col layout--stretch bg--gray-70">
  {% if stream_count > 0 %}
  {% for session in sessions %}
  <div class="richtext richtext--left" data-content-limiter="true" data-content-max-height="140">
    <div class="content content--large">
      <span class="label label--underline">
        {% if session.media_type == 'episode' %}
        {{ session.grandparent_title }}
        {% else %}
        {{ session.title }}
        {% endif %}
      </span>
    </div>

    {% if session.media_type == 'episode' %}
    <label class="label">{{ session.title }}</label>
    {% endif %}
    <div class="content content--small">
      <span class="label label--small">{{ session.user }} | {{ session.player }}</p>
    </div>
    <div class="content content--small">
      <p>{{ session.summary }}</p>
    </div>

    <div class="progress-bar progress-bar--small">
      <div class="label">
        <span class="label label--small">▶️</span>
      </div>
      <div class="track">
        <div class="fill" style="width: {{ session.progress }}%"></div>
      </div>
    </div>

    <div class="divider"></div>
  </div>
  {% endfor %}
  {% else %}
  <div class="content-element content content--center mt-4">
    <p>Nothing is currently playing.</p>
  </div>
  {% endif %}
</div>

<div class="title_bar">
  <img class="image" src="/images/plugins/trmnl--render.svg">
  <span class="title">Now Playing on Plex</span>
  <span class="instance">Updated: {{ timestamp }}</span>
</div>
