<div class="layout layout--col layout--stretch">
  {% if stream_count > 0 %}
  {% for session in sessions %}
  <div class="richtext richtext--left" data-content-limiter="true" data-content-max-height="140">
    <div class="content">
      <span class="label label--small"><b>
        {% if session.media_type == 'episode' %}
        {{ session.grandparent_title }} | {{ session.title }}
        {% else %}
        {{ session.title }}
        {% endif %}</b>
      </span>
    </div>
    
    <div class="content content--small">
      <span class="label label--small">{{ session.user }} | {{ session.player }}</p>
    </div>

    <div class="progress-bar progress-bar--small" style="width: 100%">
      <div class="track">
        <div class="fill" style="width: {{ session.progress }}%"></div>
      </div>
    </div>
    
  </div>
  {% endfor %}
  {% else %}
  <div class="content-element content content--center mt-4">
    <p>Nothing is currently playing.</p>
  </div>
  {% endif %}
</div>

<div class="title_bar">
  <img class="image" src="/images/plugins/trmnl--render.svg">
  <span class="title">Now Playing on Plex</span>
  <span class="instance">Updated: {{ timestamp }}</span>
</div>
